*{
    margin:0;
    padding:0;
}
.header{
    min-height:100vh;
    width:100%;
    background-image:url("image/mis.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 3% 5%;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.navmanu{
    flex: 1;
    text-align: right;
}
.navmanu ul li{
    list-style: none;
    display:inline-block;
    margin: 0px 12px;
    position: relative;

}
.navmanu ul li a{

    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
.navmanu ul li::after{
    content: '';
    width: 0px;
    height: 5px;
    background:black;
    display: block;
    margin: auto;
    position: absolute;
bottom:-5px ;
transition: .5s;
}
.navmanu ul li:hover::after{
    width:100%
}
.titlediscription{
    width:80%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)

}
.titlediscription h1{
    font-size: 60px;
}
.titlediscription p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: white;
}
.titlediscription a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid white;
    background:transparent;
    position: relative;
    cursor: pointer;
    padding: 13px 30px;
    font-size: 14px;
}
.titlediscription a:hover{
    background: green;
    border: 2px solid black;
    transition: 1s;
}
nav span{
    display: none;
}

@media(max-width:700px){
    .titlediscription{
        width:90% ;
        color:white ;
        position:absolute ;
        top:50% ;
        left:50% ;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .titlediscription h1{
        font-size: 25px;
    }
    nav span{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .navmanu{
        position: absolute;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        width: 300px;
        top: 0;
        right:-300px ;
        text-align: left ;
        z-index: 1;
        transition: 1s;
    }
    .navmanu ul li{
        display: block;
        margin: 10px 0;
    }
    .navmanu ul{
        padding: 20px;

    }
}

/*-------About Me-----*/
.row{
    display: flex;
    margin: 5%;
    justify-content: space-between;
}
.About-Me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.About-Me  h1{
    text-decoration: underline;
}
.About-me-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 4%;
}
.About-me-col img{
    width: 70%;
    border-radius: 50%;


}
.About-me-col h2{
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: left;
}
.About-me-col p{
    color:#777;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding:12px;
    text-align: left;
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*------My skill section-------*/

 .Skills{
    width: 60%;
    margin: auto;
    background: #777;
    padding: 100px;

 }
 .Skills h1{
    text-align: center;
    text-decoration: underline;

 }
 
 .skills-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 4%;
 }
 .skills-col h2{
    margin-bottom: 15px;
    text-align: left;
 }
 .skills-col p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding:12px;
    text-align: left;
 }
 .skills-col li{
    list-style: none;
    margin: 20px 0;
 }
 .skills-col .bar{
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px #D4DE;
 }
 .skills-col .bar span{
    height: 20px;
    float: left;
    background: black;
 }
 .html{
    width: 90%;
    animation: html 2s;
 }
 .css{
    width: 60%;
    animation: css 2s;
 }
 .jQuery{
    width: 50%;
    animation: jQuery 2s;
 }
 .javascript{
    width: 45%;
    animation: javascript 2s;
 }
 @keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
 }
 @keyframes css{
    0%{
        width:0 ;
    }
    100%{
        width: 60%;
    }
    

    }
 @keyframes jQuery{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
 }
 @keyframes javascript{
    0%{
        width: 0;
    }
    100%{
        width:45% ;
    }
 }
 /*-----services-----*/
 .services{
    width:80%;
    margin:auto;
    
    padding: 100px;
    text-align: center;
 }
.services h1{
    font-size: 30px;
    text-decoration: underline;
    font-weight: 300;
}
.services p{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 12px;
}
.services-collam{
    flex-basis:30%;
    background:plum;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
}
.services-collam h2{
    text-align: center;
    font-weight: 300;
    margin: 10px;
}
.services-collam:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
/*-----portfolios section-----*/
.portfolios{
    width: 80%;
    margin: auto;
    padding: 100px;
    text-align: center;
}
.portfolios h1{
    font-size: 30px;
    text-decoration: underline;
    font-weight: 300;

}
.portfolios p{
    color: palevioletred;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 12px;
}
.portfolios-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.portfolios-col picture{
    width: 100%;
    display: block;
}
.overlay{
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.overlay:hover{
    background: rgba(225,0,0,0.5);

}
.overlay h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
    

}
.overlay:hover h3{
    bottom: 49%;
    opacity: 1;
}
    

 
